<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>首頁</title>
    <style>
        body{
            text-align: center;
            background-color: rgb(151, 151, 147);
        }
        .price{
            color: red;
        }
        .title{
            background-color: orange;
            color: white;
            padding: 6px;
        }
        img{
            border: 1px solid black;
            width: 300px;
        }
        form{
            color: rgb(43, 36, 25);
        }
    </style>
</head>
<body>
    <h1>{{name}}歡迎登入</h1>
    <p>目前時間:{{now}}</p>

    <form action="/bmi">
        <label for="">身高</label>
        <input type="number" name="height">
        <label for="">體重</label>
        <input type="number" name="weight">
        <button type="submit">計算</button>
    </form>

    <!-- <p>你的BMI為:{{bmi}}</p> -->

    {% if books %}
    {% for book in books %} 
    <h1 class="title">{{book.name}}</h1>
    <h3 class="price">{{book.price}}</h3>
    <img src="{{book.image_url}}" alt="">
    {% endfor %}
    {% else %}
    <h1 style="color: white;">販售完畢，目前無書籍</h1>
    {% endif %}

    <br>
    <a href="/pm25-data">pm25-data</a>
</body>
</body>
</html>